pytest>=6.0
flake8
pytest-flake8
ipython
pytest-notebook
nbsphinx
nbval>=0.9.6
nbconvert
Sphinx==2.4.4
bumpversion
twine
cruft
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line.
black==22.3.0
nbclient~=0.5.10

# notebook requirements
jupyterlab
ipywidgets
nodejs
birdhouse-birdy
beautifulsoup4
